{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div style="display: grid; place-items:center;">
    {% for listing in listings %}
    <div style="padding-top: 50px;">
        <img src="{{listing.picture.url}}" width="180px" alt="image" style="float: left;">
        <div style="margin: 50px;">
        {{listing.title}}: Current Price: {{listing.bids}}
        <div>
            {{listing.description}}
        </div>
        </div>
        <a href="{% url 'listingpage' listing.id %}">Go to Listing Page</a>
    </div>
    {% endfor %}
</div>
{% endblock %}