{% extends 'auctions/layout.html' %}


{% block body %}
    <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Name/Title" required>
        <input type="text" name="description" placeholder="Description" required>
        <input type="number" name="startbid" placeholder="Starting Bid" required>
        <input type="file" id="image" name="image" accept="image/*" placeholder="image">
        <select name="category" required> 
            {% for category in categories %}
            <option value="{{category}}">{{ category }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>
{% endblock body %}
    